DATABASE_URL=postgresql://postgres:[pass]@db.[project].supabase.co:5432/postgres
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
# For local testing if no secret provided
# ALLOW_DUMMY_AUTH=true
YOOKASSA_ID=your-yookassa-shop-id
YOOKASSA_KEY=your-yookassa-secret-key
